@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

iframe, object {
    border: 2px solid #555;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    body {
        background-color:aquamarine;
    }

    iframe, object {
        width: 100%;
        height: 200px;
    }

    h1 {
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 900px;
        margin: auto;
        background-color:aquamarine;
    }
}

